html, body {
  background-color: $body-bg;
  color: $body-color;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  height: 100vh;
  margin: 0;
}

header {
  h1 {
    font-size: 6rem;
  }
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: $login-link;
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.links :hover {
  color: rgb(248, 239, 239);
  background-color: rgb(37, 26, 26);
}

.m-b-md {
  margin-bottom: 30px;
}